.post {
  background: var(--gray-800);
  border-radius: 8px;
  overflow: hidden;
  color: var(--zinc-100);
  padding: 2.5rem;
}

.post + .post {
  /*para estilizar todo post que contenha um post anterior, no caso é o estilo do post de baixo assim por diante adicionando com +*/
  background: var(--gray-800);
  border-radius: 8px;
  overflow: hidden;
  color: var(--zinc-100);
  padding: 2.5rem;
  margin-top: 2rem;
}

.content {
  text-decoration: none;
  color: var(--zinc-200);
  font-family: "Roboto", sans-serif;
}

.content p {
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
}

.content a {
  font-weight: bold;
  color: var(--green-500);
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s;
  font-family: "Roboto", sans-serif;
}

.content a:hover {
  color: var(--green-300);
}

.avatar {
  box-sizing: initial;
  border: 2px solid var(--gray-900);
  width: 3rem;
  height: 3rem;
  object-fit: cover; /*Para não destorcer a imagem*/
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 8px;
  outline: 2px solid var(--green-500);
}

.footer {
  border-top: 1px solid var(--gray-600);
  margin-top: 1.5rem;
  padding: 0rem 0rem 0rem;
  justify-content: start;
}

.footer p {
  padding: 1rem 0rem 1rem;
  font-family: "Roboto", sans-serif;
}

.footer input {
  border: 2px solid var(--green-500);
  border-radius: 8px;
  width: 100%;
  height: 4rem;
  background: var(--gray-900);
  color: var(--white);
  font-family: "Roboto", sans-serif;
}

.footer button {
  border: 2px solid var(--green-500);
  border-radius: 8px;
  margin: 1rem 0rem 0rem; /*cima, laterais, baixo*/
  padding: 0.875rem 0.875rem 0.875rem; /*cima, laterais, baixo*/
  background: var(--green-500);
  color: var(--white);
  font-family: "Roboto", sans-serif;

  transition: color 0.2s, background-color 0.2s;
}

.footer button:hover {
  background: var(--green-600);
  color: var(--white);
}

.post .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data {
  color: var(--zinc-400);
  font-family: "Roboto", sans-serif;
}

.authorInfo {
  display: flex;
  flex-direction: column;
  padding: 0rem 0.875rem 0rem;
  font-family: "Roboto", sans-serif;
}

.authorInfo span {
  color: var(--zinc-400);
  line-height: 1.6;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
}

.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
