:root {
  --white: #fff;

  --zinc-50: oklch(0.985 0 0);
  --zinc-100: oklch(0.967 0.001 286.375);
  --zinc-200: oklch(0.92 0.004 286.32);
  --zinc-300: oklch(0.871 0.006 286.286);
  --zinc-400: oklch(0.705 0.015 286.067);
  --zinc-500: oklch(0.552 0.016 285.938);
  --zinc-600: oklch(0.442 0.017 285.786);
  --zinc-700: oklch(0.37 0.013 285.805);
  --zinc-800: oklch(0.274 0.006 286.033);
  --zinc-900: oklch(0.21 0.006 285.885);
  --zinc-950: oklch(0.141 0.005 285.823);

  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;
  --green-300: #00b37e;
  --green-500: #00875f;
  --green-600: #006d4f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-900);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased; /*Para deixar as fontes como antialiasing, isto para deixar bonito fontes que não são do sistema padrão*/
}

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem; /*Unidade de medida relativa para responsividade*/
}
